[mysqld]
character-set-server = utf8
collation-server = utf8_general_ci
secure-file-priv = ""
local-infile = 1
sql_mode = NO_ENGINE_SUBSTITUTION
default-time-zone = SYSTEM
log_timestamps = SYSTEM

[client]
default-character-set = utf8
loose-local-infile = 1